---
layout: default
title: Index
---

<img src="/assets/images/dessin_douche.png" alt="" style="Width: 350px;">

<p class="text-center">
<!--<a class="btn btn-secondary" href=_pages/decouvrir.md>Découvrir T-Lia</a>-->
  
  <a class="btn btn-primary" href="https://www.helloasso.com/associations/t-lia/adhesions/adhesion-t-lia-2020-2021">Adhérer à T-Lia</a>

  <a class="btn btn-secondary" href="https://framaforms.org/inscription-a-la-lettre-dinformation-de-lassociation-t-lia-1581702875">S'inscrire à la lettre d'information</a>
</p>
