<header role="banner">
    <a href="/" class="post-title">
      <b>T-Lia</b> - <b>T</b>echnologies <b>Li</b>bres pour l'<b>a</b>utonomie collective
    </a>
    {% include navigation.html %}
</header>
<hr>
