<nav class="navigation">
  <ul>
    <!-- <li><a href="/notes" {% if page.url == "/notes" %}class="active"{% endif %}>Notes</a></li> -->
    <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>Accueil</a></li>
    <li><a href="/decouvrir" {% if page.url == "/decouvrir" %}class="active"{% endif %}>Découvrir T-Lia</a></li>
    <li><a href="/agenda" {% if page.url == "/agenda" %}class="active"{% endif %}>Agenda</a></li>
    <li><a href="/infolettre" {% if page.url == "/infolettre" %}class="active"{% endif %}>Lettre d'info</a></li>
    <li><a href="/adhesion" {% if page.url == "/adhesion" %}class="active"{% endif %}>Adhesion</a></li>
    <li><a href="/contact" {% if page.url == "/contact" %}class="active"{% endif %}>Contact</a></li>
    <!--<li><a href="/projects" {% if page.url == "/projects" %}class="active"{% endif %}>Évènements</a></li>-->
  </ul>
</nav>
