$purple: #712b9c;
$orange: #fcac37;


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    margin: 0 auto;
    max-width: 50rem;
    padding: 1rem;
}

strong, b, h1, h2, h3, h4 {
	font-weight: bold;
}

hr {
    background: $purple;
    border: 0;
    height: 2px;
    margin: 2rem 0;
    width: 100%;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    tr {
        border-bottom: 1px solid $purple;
    }

    td {
        padding: 0.5rem;
    }
}

img {
    width: 100%;
    margin: 0.5rem 0;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
}

nav {
    ul {
        list-style: none;
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
        }
    }
    a {
        margin: 0.5rem;
        text-transform: uppercase;
    }
}

article {
  // p {
  //
  //   text-align: center;
  // }
  // img {
  //   max-width: 500px;
  // }
}


footer {
    margin: 2rem 0;
}
