$purple: #712b9c;
$orange: #fcac37;
$light-orange: #fdf4dc;

body {
  background-color: $light-orange;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  zoom: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header p strong {
    text-transform: uppercase;
}

a.post-title,a:visited.post-title {
    background: $purple;
    // margin: 10rem 0;
    color: $orange;
    padding: 2rem;
    font-weight: 400;
    font-size: 1.5rem;
    display: block;
    text-decoration: none;
    &:hover {
      color: rgba($color: $orange, $alpha: 0.98);
      background: rgba($color: $purple, $alpha: 0.98);
    }
}

a,a:visited {
  color: $orange;
  font-weight: bold;
}
a:hover {
  color: $purple;
}


a.active, {
    background: $orange;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
}

a.btn {
    padding: 0.5rem;
    color: $light-orange;
    font-weight: bold;
    &.btn-primary {
      background: $orange;
    }
    &.btn-secondary {
      background: $purple;
    }
    &:hover {
      opacity: .9;
    }
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid $purple;
  font-size: 120%;
  margin: 2rem 0;
  padding: 1rem;

  p {
    margin: 0;
  }

  footer {
    font-size: 90%;
    margin: 1rem 0 0 0;
  }
}

dl {
  dt {
    margin-bottom: 0.5rem;
  }
  dd {
    font-style: italic;
    margin-bottom: 2rem;
  }
}

code, pre {
	font-family: San Francisco Mono,Monaco,"Consolas","Lucida Console","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	font-size: 92%;
}

pre {
  background: $purple;
  color: $light-orange;
  overflow: auto;
  padding: 1em;
  width: 100%;
}

.date {
  opacity: 0.6;
}

.text-center {
  text-align: center;
}
